/* flex */
.flex {
    display: flex;
}

.c_flex {
    display: flex;
    flex-direction: column;
}
/* /flex */

/* overflow-x */
html, body {
    max-width: 100%;
    overflow-x: hidden;
}
/* /overflow-x */

/* header */
/* header_top */
.header_top {
    height: 35px;
    padding-right: 10px;
    background-color: black;
    justify-content: flex-end;
}

.sony_logo {
    padding-right: 8px;
    width: 80px;
    align-self: center;
}

.sony_logo img {
    width: 100%;
}
/* header_top */
/* header_bottom */
.logo_play {
    margin-right: 15px;
}

.header_bottom .dropdown-toggle::after {
    border: none;
    content: url(../img/chevron-down-solid.svg);
    width: 10px;
    vertical-align: middle;
}

.navbar-light .navbar-nav .nav-link {
    color: black;
    font-weight: 600;
}

.header_bottom_left li {
    margin-right: 8px;
}

.header_bottom_right li {
    margin-left: 8px;
}

.header_bottom_right {
    justify-content: flex-end;
}

.header_bottom_right li:last-child {
    line-height: 40px;
}

.header_bottom_right .btn {
    color: white;
    background-color: #363636;
    border-radius: 20px;
}

.header_bottom_right .lens {
    width: 25px;
    vertical-align: middle;
}
/* /header_bottom */
/* /header */

/* main */
/* sezione hero */
.hero {
    margin-bottom: 80px;
}
/* hero top */
    .hero_top {
        height: 675px;
        background-image: url(../img/jumbo-bg.png);
        background-position: top center;
        padding: 300px 0 20px 20px;
    }

    .hero_top_img {
        width: 100%;
    }
/* /hero top */

/* hero bottom */
.box_list_img {
    margin-top: 10px;
    padding: 5px;
    /* background-color: blue; */
}

.box_list_img img {
    width: 100%;
    border-radius: 20px;
}
/* /hero bottom */
/* /sezione hero */

/* sezione play5 */
.play5_text {
    align-self: center;
    padding-left: 40px;
}
.play5_img {
    justify-content: center;
}
.play5_img img {
    width: 100%;
}

.item_play5 img {
    width: 100%;
}
/* /sezione play5 */

/* sezione nuove uscite */
.new_exit {
    color: white;
}
/* sezione new exit top */
.new_exit_top {
    height: 675px;
    background-image: url(../img/it-takes-two-hero-banner-desktop.jpg);
    background-position: top center;
    padding: 100px 0 20px 20px;
}

.new_exit_top_img {
    width: 100%;
}
/* /sezione new exit top */

/* sezione new exit bottom */
.new_exit_bottom {
    background-color: #1f1f1f;
}

.box_new_exit {
    padding: 10px;
}

.box_new_exit_img img {
    width: 100%;
}

/* /sezione new exit bottom */
/* /sezione nuove uscite */

/* sezione play4 */
.play4 {
    margin: 40px 0;
}

.box_play4 {
    padding: 10px;
}

.box_play4 img {
    width: 100%;
}
/* /sezione play4 */

/* sezione playplus */
.play_plus {
    margin-bottom: 50px;
    background-color: #bebcbb;
}

.play_plus_left {
    padding: 20px;
}

.play_plus_left img {
    width: 80%;
}

.play_plus_right img {
    width: 100%;
}
/* /sezione playplus */

/* sezione play store */
.box_store_img {
    padding: 10px;
}

.box_store_img img {
    width: 100%;
}
/* /sezione play store */

/* /main */
